- var title = "On Dogs: Man's Best Friend";
- var author = "enlore";
- var theGreat = "<span>escape!</span>";

h1= title
p Written with love by #{author}
p This will be safe: #{theGreat}

- var msg = "not my inside voice";
p This is #{msg.toUpperCase()}


- var riskyBusiness = "<em>Some of the girls are wearing my mother's clothing.</em>";
.quote
	p Joel: !{riskyBusiness}

p.
	If you take a look at this page's source #[a(target="_blank", href="https://github.com/jadejs/jade/blob/master/docs/views/reference/interpolation.jade") on GitHub],
	you'll see several places !{riskyBusiness} where the tag interpolation operator #{author} is
	used, like so.


script.
	if (title)
		console.log(title)
	else
		console.log('no title');